name: Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  plugin_test:
    name: asdf plugin test
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        ruby_version:
          - '3.2'
          - '3.3'
          - '3.4'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: ruby/setup-ruby@80740b3b13bf9857e28854481ca95a84e78a2bdf # v1.284.0
        with:
          ruby-version: '${{ matrix.ruby_version }}'
          bundler-cache: true
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1
        with:
          command: bashly --version
          gitref: ${{ github.head_ref || github.ref_name }} # different github variables depending on whether we're running on a branch or a PR
